<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Page d'accueil</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h2>Bienvenue sur mon site</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, veritatis repellendus voluptatibus aut repellat ullam nobis reprehenderit similique deserunt itaque ratione fugit, velit totam perspiciatis quasi a quaerat eos incidunt.</p>
    </body>
</html>