/*
Importer un fichier CSS
*/
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    @import url('https://fonts.googleapis.com/css?family=Chewy|Lobster+Two:400,700');
/*
style reset
*/



    /* Supprimer toutes les marges */
    *{
        padding: 0;
        margin: 0;
    }

    /* Faire en sorte que 1rem soit égal à 10px */
    html{
        font-size: 62.5%;
    }
    
    body{
        font-size: 1.5rem; /* => 15px */
        font-family: 'Lobster Two', cursive;        
    }
    
    /* Supprimer la décoration des balises A */

    a{
        text-decoration: none;        
    }

    /* Faire en sorte que les images ne dépassent pas leur parent */
    img{
        max-width: 100%;
    }

    section{
        padding: 6rem 0;
    }

    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    h3{
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    h1, h2, h3{
        font-family:  'Chewy', cursive;
        font-weight: 400;
    }

/*
style largeur maximum
*/
    nav ul, main section:first-child, main section:nth-child(2) p, main section:last-child, footer section{

        /* Définir une largeur maximum */
        max-width: 95rem;

        /* Centrer une balise de type block dans son parent */
        margin: auto;
    }

/*
Style header
*/
     header{
         /* Aligner le texte au centre*/
         text-align: center;

         /* Modifier la couleur de la font */
         color: white;

         /* Ajouter la couleur de fond */
         background: #18BC9C;

         /* Ajouter une marge intérieure basse de 60px */
         padding-bottom: 6rem;
    }

    nav{        
        /* Mettre le texte en majuscule */
        text-transform: uppercase;

        /* Ajouter la couleur de fond */
        background:#2C3E50;

        /* Aligner le texte à droite */
        text-align: right;

        /* Ajouter une marge intérieure de 30px */
        padding: 3rem;

        /* Ajouter une marge extérieure basse de 60px*/
        margin-bottom: 6rem;               
    }

    nav a{
        color: white;

        /* Passer le texte en gras */
        font-weight: bold;
    }   

    nav a:hover{
        color: #18BC9C;
    } 
     
     li{
        /* Aligner les balises LI */
        display: inline-block;

        /* Ajouter une marge extérieure à droite */
        margin-right: 1rem;
    }

    nav ul {
        /* Bloquer les enfants dans leurs parents */
        position: relative;
    }

    nav li:first-child{

        /* Sortir la balise du flux pour la repositionner précisemment */
        position: absolute;
        /* Placer la balise à gauche */
        left: 0;

        /* Modifier la taille de la font */
        font-size: 1.5em;
    }

    h1{
        /* Mettre le text en en majuscule */
        text-transform: uppercase;

        /* Augmenter la taille de la font (60px) */
        font-size: 6rem;

        /* Ajouter une marge intérieure haute de 30px */
        padding-top: 3rem;
    }

    header p{
        /* Augmenter la taille de la police à 25px */
        font-size: 2.5rem;
    }

    main section{
        padding: 6rem 0;
    }

    

/*
style portfolio
*/



    main section:first-child{
        text-align: center;        
    }

    main section:first-child article{
        /* Créer 3 colonnes */
        display: inline-block;
        width: 29%;
        margin: 1rem;  

         /* Bloquer les enfants dans leur parent */
        position: relative;     
    }

        main section:first-child a{
            font-size: 8rem;
            background: rgba(24, 188, 156, 0.7);
            color: white;

            /* Sortir la balise duflux pour la positionner précisément */
            position: absolute;

            /* Placer la balise en haut à gauche */
            top: 0;
            left: 0;
            
            /* Faire en sorte que la balise soit à 100% de la taille de son parent */
            width: 100%;
            height: 100%;
            
            /* Réduire l'opacité de la balise */
            opacity: 0;
            
            /* Gérer une transition entre les états de la balise */
            -webkit-transition: all 0.8s;
            -moz-transition: all 0.8s;
            transition: all 0.8s;
       }

        main section:first-child a:hover{

            /* Modifier l'opacoté de la balise en hover */
            opacity: 1;
        }
/*
style about
*/

    /* Sélectionner le N-ième (nth) enfant */
    main section:nth-child(2){        
        color: white;
        background: #18BC9C;
        text-align: center;
    }

    main section:nth-child(2) p{
        /* Afficher le texte sur deux colonnes */
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        /* Justifier le texte */
        text-align: justify;

        margin-bottom: 4rem;
    }

    main section:nth-child(2) a{                   
        color: white;
        text-align: center;
        font-weight: bold;
        padding: 1rem 1.5rem;     
        border: 0.2rem solid white;
            
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        transition: all 0.6s;    
        
    }

    main section:nth-child(2) a:hover{
        background-color: white;
        color:#18BC9C;
    }
/*
style contact
*/
    input, textarea{
        display:block;
        width: 90%;  
        margin: 1rem auto;     
        padding: 1rem;
        font-size: 2rem; 

        /* Annuler le style du navigateur */
        border: none;
        /* Redéfinir la bordure */
        border-bottom:  .1rem solid #dddddd;
    }

    textarea{
        min-height: 20rem;
    }

    /* Sélectionner une balise grâce à son attribut et sa valeur */
    [type="submit"]{
        width: 10rem;
        display: inline-block;
        background: #18bc9c;
        color: white;
        font-weight: bold;
        margin-left: 3rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
    }

    [type="submit"]:hover{
        background: #128f76;
    }
/*
style footer
*/
    footer{
         text-align: center;
         color: white;
         background: #2C3E50;
         
    }

    footer article{
        display: inline-block;
        width: 29%;

        /* Gérer l'alignement vertical */
        vertical-align: top;
    }

    [href="http://google.com"]{
        color: #18BC9C;
    }

    [href="http://google.com"]:hover{
        text-decoration: underline;
    }

    aside{
        padding: 1.5rem;
        background: #233140;
    }

    article li a{
        color: white;
        border: 0.2rem solid white;
        display: inline-block;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
        
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        transition: all 0.6s
    }

    article li a:hover{
        background: white;
        color: #18bc9c;;
    }

    


    
   

    