/*
@import
*/
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
    @import url('https://fonts.googleapis.com/css?family=Special+Elite|Roboto:400,700');

/*
reset
*/

    *{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    html{
        font-size: 62.5%;
        
    }

    body{
        font-size: 1.5rem;
        font-weight: 400;
        font-family: 'Roboto', sans-serif;
        text-align: center;
    }

    h1{
        font-size: 4rem;
        font-family: 'Special Elite', cursive;
        font-weight: 400;
    }

    h2{
        font-weight: 400;
        font-family: 'Special Elite', cursive;
        margin-bottom: 1rem;
    }

    a, header li{
        text-decoration: none;

        -webkit-transition: all .5s;
        transition: all .5s; 
    }

    ul{
        list-style: none;
    }

    img{
        max-width: 100%;
    }


/*
header
*/

    header{
        color: white;
        background: #22175b;
        padding: 2rem 2rem 4rem 2rem;
        position: relative;
    }

    nav{
        display: none;
    }

    nav li{
        display: block;
        background: rgba(255, 255, 255, 0.5);
        padding: 0.5rem;
        margin: 0.5rem 0;
        font-weight: 700;
    }

    nav a{
        color: white;
    }

    

    nav li:hover{
        background: rgba(255, 255, 255, 1);
    }

    nav li:hover a{
        color: #22175b;
    }



    h1 span{
        display: block;
        font-family: 'Roboto', sans-serif;
        font-size: .5em;
    }

    header>a {
        font-size: 1.5rem;
        display: inline-block;
        color: #22175b;
        padding-top: 0.9rem;
        width: 4rem;
        height: 4rem;
        background: white;
        -webkit-border: .1rem solid #22175b;
        border: 0.2rem solid #22175b;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 100%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    header>a:hover{
        background: #22175b;
        color: white;
        border-color: white;
    }


    /*
    nav aboutPage
    */
        .aboutPage nav{
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            width: 20rem;
            padding: 2rem;
            background: #000000;
            z-index: 1000;
            display: block;
        }

/* 
main
*/
    main{
        padding: 4rem 2rem 10rem 2rem;
    }

    [src="img/paella.png"]{
        width: 12rem;
        margin-bottom: 2rem;
        border: .1rem solid white;

        -webkit-border-radius: 50%;
        border-radius: 50%;

        -moz-box-shadow: 0 0 1rem black;
        -webkit-box-shadow: 0 0 1rem black;
        box-shadow: 0 0 1rem black;
    }

    [src="img/paella.png"] + p{
        margin-bottom: 2rem;
    }

    h3 + ul{
        text-align: left;
        margin: 2rem auto;
    }

    h3 + ul li {
        background: #22175b;
        padding: .1rem;
        margin-bottom: 1rem;
        position: relative;
    }

    h3 + ul p{
        background: white;
        padding: 1rem;
        min-height: 3.5rem;

        /* Pour l'animation */
        width: 0;
    }

    h3 + ul span{
        position: absolute;
    }



     section{
         margin-bottom: 5rem;
     }

     figure{
         position: relative;
     }
     figcaption{
         position: absolute;
         font-family: 'Special Elite', cursive;
         background: rgba(255, 255, 255, 0.8);
         padding: 2rem;
         width: 15rem;
         top: 50%;
         left: 50%;
         -webkit-top-left-right-radius: 1rem;
         border-top-left-radius: 1rem;
         -webkit-transform: translate(-50%, -50%);
         transform: translate(-50%, -50%);
     }
     figcaption button{
         position: absolute;
         color: white;
         background: #22175b;
         left: 0;
         top: 100%;
         width: 100%;
         border: 0;
         padding: 1rem;
         -webkit-border-bottom-right-radius: 1rem;
         border-bottom-right-radius: 1rem;
     }

     #modal{
         position: fixed;
         height: 100%;
         top: 0;
         left: 0;
         background: rgba(0, 0, 0, 0.8);
         width: 100%;
         z-index: 100;

         /* Pour l'animation */
         display: none;
     }
     #modal article{
         background: white;
         max-width: 35rem;
         margin: 5rem auto;
         padding: 2rem;
     }

     button{
         cursor: pointer;
     }

     .fa-times{
         cursor: pointer;
     }

     form{
         text-align: left;
         margin: 2rem auto;
     }

     select{
         margin: 1rem auto 3rem auto;
     }
     textarea{
         min-height: 20rem;
     }

     [type="checkbox"]{
         display: inline-block;
         width: auto;
     }

     textarea, input, label{
         display: block;
         width: 100%;
         border: none;
         padding: 1rem;         
     }

     textarea, input:not([type="submit"]){         
         border-bottom: .1rem solid #22175b;
         margin-bottom: 2rem;
     }

     form article{
         position: relative;
     }


     [for="userSubject"]{
         font-weight: 700;
     }

     label{
         padding: 0;
         -webkit-transition: all .5s;
         transition: all .5s
     }


     label:not([for="userSubject"]){
         font-weight: 700;
         position: absolute;
         padding: 0;
         top: .5rem;
     }     

     label.openedLabel{
         top: -1.5rem;
         font-size: 1.2rem;
         color: grey;
     }

     form b{
         color: red;
         text-transform: uppercase;
         font-size: .7em;
         -webkit-transition: opacity .5s;
         transition: opacity .5s;
     }

     .hideError b{
         opacity: 0;
     }



/*
footer
*/

    footer{
        background: #22175b;
        color: white;
        padding: 1rem 2rem;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 2;
    }

    footer li:not(:last-child){
        display: inline-block;
        margin: 1rem 2rem;
    }
    
    footer a{
        color: white;
    }


/*
Requêtes media
*/

    /* Ecran d'une taille minimal de 400px */
    @media screen and (min-width:400px){
        .portfolioPage article{
            display: inline-block;
            width:49%;


            /* Gérer les paddings */
            padding:  0 1rem 0 0;
            
        }

        .portfolioPage aricle( 2n + 2){
            padding: 0 0 0 1rem;
        }
    }

    @media screen and (min-width: 750px) {
        
        /*style reset */
        main, h1, nav{
            max-width: 85rem;
            margin: auto;
        }

        /* style header */
        header{
            text-align: left;
            text-indent: 5rem;
        }

        h1{
            font-size: 4rem;
        }

        h1 span{
            display: initial;
        }

        header>a{
            display: none;
        }      
        nav{
            display: block;
        }  
        nav li{
            display: inline-block;
            text-indent: 0;
        }

        /* style main */
        main{
            padding: 4rem 0 10rem 0;
        }
    }

