<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>Portfolio</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h2>Titre de la section Portfolio</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus omnis quisquam quia autem labore id ipsum facilis quod magni qui magnam tempore cupiditate asperiores, vel ipsa, impedit, quidem debitis! Quibusdam!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, incidunt, tempore. Explicabo, autem cumque adipisci blanditiis illo odio ad dolorum laborum cum fuga animi, veritatis quibusdam aperiam reiciendis assumenda quidem.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat quam eos quas porro culpa distinctio voluptas blanditiis ipsam, quisquam asperiores qui rem quo totam eaque minima omnis sequi sunt quibusdam?</p>
    </body>
</html>