@import url('https://fonts.googleapis.com/css?family=Roboto:400,700,900');

/*
Reset
*/

    *{
        padding: 0;
        margin: 0;
    }

    html{
        font-size: 62.5%;
    }
    
    body{
        font-size: 1.5rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        text-align: center;
    }

    a{
        text-decoration: none;
        color: #349aa6;
    }

    span{
        text-transform: lowercase;
    }

    /* Appliquer deux design différents sur la balise h1 */
    h1{
        font-size: 1.5rem;        
        line-height: 1.8em;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 4rem;
    }

    h1 b{
        font-size: 2em;
        display: block;
    }

    h2, h3{
        text-transform: uppercase;
        font-weight: 400;
        font-size: 2.2rem;
    }

    section{
        padding:4rem 2rem; 

    }

    p{
        padding: 4rem 0;
    }

    
/*
Header
*/






    header{
        color: white;

        /* Configurer l'image de fond en parallaxe */
        background-image: url(../img/img-couverture-iphone.jpg);

        /* Positionner l'image de fond */
        background-position: top;

        /* Modifier la taille de l'image de fond */
        background-size: 150%;

        /* Bloquer l'image de fond */
        background-attachment: fixed;
    }

    nav{
        background: #002a35;
        padding: 1rem;
        margin-bottom: 4rem;
    }

    li{
        display: inline-block;
        width: 45%;
    }

    /* Sélectionner une balise grâce à son attribut*/
    [src="img/logo-GRT-gaz-blanc.png"]{
        width: 15rem;
        margin-bottom: 4rem;
    }

    /* Sélectionner une balise suivante */
    h1 + a{

        /* Les balises de type inline ne peuvent pas recevoir les propriétés width et height */
        background: #349aa6;
        display: inline-block;
        width: 5rem;
        height: 5rem;
        margin-bottom: 8rem;
        border-radius: 50%;
    }
    a img{
        padding-top: .8rem;        
    }

    figure{
        padding: 2rem 0;
    }

/*
Main
*/

    /* Programme / réponse */
    section:nth-child(2), section:nth-child(4){
        background-image: url(../img/img-foule.jpg);
        background-attachment: fixed;
        background-position: center;

        color: white;
    }

    .callToAction{
        color: white;
        display: inline-block;
        border: .1rem solid white;
        padding: 2rem;
        border-radius: .5rem;
        margin-top: 2rem;
    }

    .callToAction.blue{
        color: #349aa6;
        border-color:#349aa6;
    }

    /* Solutions */
    section:nth-child(3){
        background: #349aa6;
        color: white;
    }

    /* Inscrivez-vous */

    [alt="logo salon des maires"]{
        width: 10rem;
        margin-bottom: 2rem;
    }

    /* Vidéo */
    section:nth-child(6){
        background-color: #349aa6;
        position: relative;
    }

    video{
        /* Placer ma vidéo en fond d'écran */
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
    }

    section:nth-child(6) article{
        color: white;
        background: rgba(0, 0, 0, .7);
        padding: 4rem 2rem;

        /* Faire passer la balise sur la première couche */
        position: relative;
        z-index: 1;
    }

    section:nth-child(6) h3{
        font-weight: 900;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }

    section:nth-child(6) a{
        color: white;
    }

    /* Chiffres */

    
