/*
style reset
*/



    /* Supprimer toutes les marges */
    *{
        padding: 0;
        margin: 0;
    }

    /* Faire en sorte que 1rem soit égal à 10px */
    html{
        font-size: 62.5%;
    }
    
    body{
        font-size: 1.5rem; /* => 15px */
        font-family: "Arial", sans-serif;        
    }

    /* Supprimer la décoration des balises A */

    a{
        text-decoration: none;        
    }

    /* Faire en sorte que les images ne dépassent pas leur parent */
    img{
        max-width: 100%;
    }

    section{
        padding: 6rem 0;
    }

    h2{
        text-align: center;
        text-transform: uppercase;
        font-size: 4rem;
        margin-bottom: 3rem;
    }

    h3{
        text-transform: uppercase;
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

/*
style largeur maximum
*/
    nav ul, #portfolio, #about p, #contact, footer section{

        /* Définir une largeur maximum */
        max-width: 95rem;

        /* Centrer une balise de type block dans son parent */
        margin: auto;
    }

/*
Style header
*/
     header{
         /* Aligner le texte au centre*/
         text-align: center;

         /* Modifier la couleur de la font */
         color: white;

         /* Ajouter la couleur de fond */
         background: #18BC9C;

         /* Ajouter une marge intérieure basse de 60px */
         padding-bottom: 6rem;
    }

    nav{        
        /* Mettre le texte en majuscule */
        text-transform: uppercase;

        /* Ajouter la couleur de fond */
        background:#2C3E50;

        /* Aligner le texte à gauche */
        text-align: left;

        /* Ajouter une marge intérieure de 30px */
        padding: 3rem;

        /* Ajouter une marge extérieure basse de 60px*/
        margin-bottom: 6rem;
    }

    nav a{
        color: white;

        /* Passer le texte en gras */
        font-weight: bold;
    }
     
     li{
        /* Aligner les balises LI */
        display: inline-block;

        /* Ajouter une marge extérieure à droite */
        margin-right: 1rem;
    }

    h1{
        /* Mettre le text en en majuscule */
        text-transform: uppercase;

        /* Augmenter la taille de la font (60px) */
        font-size: 6rem;

        /* Ajouter une marge intérieure haute de 30px */
        padding-top: 3rem;
    }

    header p{
        /* Augmenter la taille de la police à 25px */
        font-size: 2.5rem;
    }

    main section{
        padding: 6rem 0;
    }

/*
style portfolio
*/



    #portfolio{
        text-align: center;        
    }
    #portfolio a{
        /* Masquer les balises */
        display:none;
    }

    #portfolio article{
        /* Créer 3 colonnes */
        display: inline-block;
        width: 29%;
        margin: 1rem;        
    }
/*
style about
*/

    #about{        
        color: white;
        background: #18BC9C;
        text-align: center;
    }

    #about p{
        /* Afficher le texte sur deux colonnes */
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        /* Justifier le texte */
        text-align: justify;

        margin-bottom: 4rem;
    }

    #about a{                   
        color: white;
        text-align: center;
        font-weight: bold;
        padding: 1rem 1.5rem;     
        border: 0.2rem solid white;

        /* Créer un bord arrondi */
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
        border-radius: 0.6rem;
        
    }

    #about a:hover{
        background-color: white;
        color:#18BC9C;    
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        transition: 0.6s;    
    }
/*
style contact
*/
    input, textarea{
        display:block;
        width: 90%;  
        margin: 1rem auto;     
        padding: 1rem;
        font-size: 2rem; 

        /* Annuler le style du navigateur */
        border: none;
        /* Redéfinir la bordure */
        border-bottom:  .1rem solid #dddddd;
    }

    textarea{
        min-height: 20rem;
    }

    /* Sélectionner une balise grâce à son attribut et sa valeur */
    [type="submit"]{
        width: 10rem;
        display: inline-block;
        background: #18bc9c;
        color: white;
        font-weight: bold;
        margin-left: 3rem;
        border-radius: 0.5rem;
        -webkit-border-radius: 0.6rem;
        -moz-border-radius: 0.6rem;
    }

    [type="submit"]:hover{
        background: #128f76;
    }
/*
style footer
*/
    footer{
         text-align: center;
         color: white;
         background: #2C3E50;
         
    }

    footer article{
        display: inline-block;
        width: 29%;

        /* Gérer l'alignement vertical */
        vertical-align: top;
    }

    [href="http://google.com"]{
        color: #18BC9C;
    }

    [href="http://google.com"]:hover{
        text-decoration: underline;
    }

    aside{
        padding: 1.5rem;
        background: #233140;
    }

    article li a{
        color: white;
        padding: 1rem;
        border: 0.2rem solid white;
        border-radius: 100%;
    }

    article li a:hover{
        background: white;
        color: #18bc9c;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        transition: 0.6s;
    }


    
   

    